<p id="notice"><%= notice %></p>

<%= image_tag @user.image.url(:large) %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
